---
- name: Install Linux kernel headers
  block:
    - name: Retrieve this host's Linux kernel version
      shell: "uname -r"
      register: uname_result

    - set_fact:
        linux_kernel_version: uname_result.stdout

    - name: Install kernel headers
      apt:
        name: {{ item }}
        update_cache: yes
      with_items:
        - "linux-image-extra-{{ linux_kernel_version }}"
        - "linux-image-extra-virtual"

- name: Add the Docker Apt repository
  block:
    - name: Install HTTPS Apt prerequisites
      apt:
        name: {{ item }}
        update_cache: yes
      with_items:
        - apt-transport-https
        - curl
        - ca-certificates
        - software-properties-common

    - name: Add Docker's GPG key
      apt_key:
        url: {{ docker_gpg_key_uri }}
        state: present

    - name: Ensure that the GPG key has been installed
      shell: "apt-key fingerprint {{ docker_gpg_fingerprint_last_eight }} > /dev/null"

    - name: Add the Docker Apt repository
      apt_repository:
        repo: "deb [arch={{ docker_repository_architecture }}] {{ docker_ce_repo_uri }} {{ docker_ubuntu_version }} {{ docker_repository_type }}"
        state: present
      notify:
        - Update Apt cache

- name: Install Docker
  apt:
    name: docker-ce="{{ docker_ce_version }}"

